[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

opendota = "*"
"flake8" = "*"
dotatools = "*"
sqlalchemy = "*"
pandas = "*"
matplotlib = "*"
pygsheets = "*"
requests = "*"
"urllib3" = "*"
scipy = "*"


[dev-packages]

