[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

opendota = "*"
"flake8" = "*"
dotatools = "*"
SQLAlchemy = "*"
pandas = "*"
matplotlib = "*"
pygsheets = "*"


[dev-packages]

